# Ansible example for the host file.
# Declare here all your servers

[master]
admin.mysellyoursaasdomain.com

[web]
adminweb.mysellyoursaasdomain.com

[deployment]
with1.mysellyoursaasdomain.com
with2.mysellyoursaasdomain.com

[remotebackup]
remotebackup.mysellyoursaasdomain.com
